.headHeader {
  width: 100%;
  background-color: #344151;
}

.header {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-evenly;
  height: 70px;
  background-color: #344151;
  align-items: center;
  /* z-index: 100; */
}

.header>div:last-child {
  display: inline-flex;
  width: 50%;
  justify-content: space-between;
}

.header h1,
.header h3 {
  padding: 0px;
  line-height: 70px;
  height: 70px;
  margin: 0px;
}

.header h1,
.footer h1 {
  color: #0BC469;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 40px;
}

.header h3 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

.h3Turkmen {
  font-size: 20px !important;
}

.header h3:hover {
  color: #0BC469;
}

.verticalLine {
  width: 2px;
  height: 48px;
  background-color: #FFFFFF;
  margin: auto 0px;
}

.header h3>img {
  margin: auto 15px auto 0px;

}

.lang {
  background-color: #344151;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  width: 100px;
  display: inline-flex;
  justify-content: center;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.langs {
  background-color: #344151;
  position: absolute;
  display: block;
  width: 157px;
  height: 140px;
  padding: 10px;
  top: 70px;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */

}

.langs>span {
  display: block;
  width: 137px;
  height: 37px;
  line-height: 37px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 400;
}

.langs>span:hover {
  background-color: #0BC469;
}

.ActiveLang {
  background-color: rgba(153, 153, 153, 0.15);
}

.main {
  width: 100%;
  min-height: 100vh;
  background-image: url("../public/glass-greenhouse.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 175px;
}

.main h1 {
  font-size: 64px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-weight: 700;
}

.main h1:hover {
  color: #0BC469;
}

.main p {
  font-size: 22px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}


.about {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: inline-flex;
  flex-wrap:wrap;
  padding: 30px 80px;
  box-sizing: border-box;
  background-image: url("../public/aboutBack.png");
  /* display: flex;
  flex-wrap: wrap; */

}



.about>div:first-child {
  padding-left: 30px;
  /* width: 65%; */
  min-width:320px;
}

.about>div:last-child {
  /* width: 35%; */
  min-width:320px;
  /* margin-left: -50px; */
}

.AboutImges {
  display: inline-flex;
  justify-content: space-between;
  height: 402px;
}

.AboutImges>div:last-child {
  /* height: 323px !important; */
  /* margin-top: 79px; */
  /* margin-left: 33px; */
}

.about>div>h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  color: #1C232D;
}

.about>div>p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #7A7A7A;
  width: 70%;
}

.about>div:last-child>p {
  margin: 0px;
}

.about .secondImg {
  margin-top: 50px;
  height: 395px;
  margin-left: 33px;
}


.animation {
  width: 100%;
  min-height: 100vh;
  background-image: url("../public/glass-greenhouse (2).png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0 20px;
}

.animation>.firstImg {
  width: 293px;
  height: 40vh;
  border-radius: 4px;
  position: absolute;
  top: 30px;
  left: 15%;
  transition: 1s;
}

.animation>.firstImg:hover {
  width: 333px;
  height: 50vh;
  z-index: 21;
  left: 200px;
}

.animation>.firstImg>div img {
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 0;
  object-fit: cover;
}

.animation>.firstImg>div>div {
  width: 96%;
  left: 2%;
  padding: 12px;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  bottom: 5px;
  background-color: #00000078;
}

.animation>.firstImg>div h3 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.animation>.firstImg>div p {
  color: #DBDBDB;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.animation>.secondImg {
  width: 293px;
  height: 40vh;
  border-radius: 4px;
  position: absolute;
  top: 30px;
  right: 15%;
  transition: 1s;
}

.animation>.secondImg:hover {
  width: 333px;
  height: 50vh;
  z-index: 21;
  right: 200px;
}

.animation>.secondImg>div img {
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 0;
}

.animation>.secondImg>div>div {
  width: 96%;
  right: 2%;
  padding: 12px;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  bottom: 5px;
  background-color: #00000078;
}

.animation>.secondImg>div h3 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.animation>.secondImg>div p {
  color: #DBDBDB;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.animation>.thirdImg {
  width: 293px;
  height: 40vh;
  border-radius: 4px;
  position: absolute;
  bottom: 30px;
  left: 15%;
  transition: 1s;
}

.animation>.thirdImg:hover {
  width: 333px;
  height: 50vh;
  z-index: 21;
  left: 200px;
}

.animation>.thirdImg>div img {
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 0;
}

.animation>.thirdImg>div>div {
  width: 96%;
  left: 2%;
  padding: 12px;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  bottom: 5px;
  background-color: #00000078;
}

.animation>.thirdImg>div h3 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.animation>.thirdImg>div p {
  color: #DBDBDB;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.animation>.fourthImg {
  width: 293px;
  height: 40vh;
  border-radius: 4px;
  position: absolute;
  bottom: 30px;
  right: 15%;
  transition: 1s;
}

.animation>.fourthImg:hover {
  width: 333px;
  height: 50vh;
  z-index: 21;
  right: 200px;
}

.animation>.fourthImg>div img {
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 0;
}

.animation>.fourthImg>div>div {
  width: 96%;
  right: 2%;
  padding: 12px;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  bottom: 5px;
  background-color: #00000078;
}

.animation>.fourthImg>div h3 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.animation>.fourthImg>div p {
  color: #DBDBDB;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.animation>.mainImg {
  width: 44%;
  /* width: 551px; */
  /* min-width:551px; */
  height: 70vh;
  border-radius: 4px;
  position: absolute;
  top: 15vh;
  left: 28%;
  z-index: 20;
  transition: 1s;
}

.animation>.mainImg>div img {
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  top: 0;
}

.animation>.mainImg>div>div {
  width: 96%;
  left: 2%;
  padding: 12px;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  bottom: 2%;
  background-color: #00000078;
}

.animation>.mainImg>div h3 {
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.animation>.mainImg>div p {
  color: #DBDBDB;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.backDrop {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}


.backDrop:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.pnoneNumber {
  padding-left: 16px;
}

.sliderSection {
  min-height: 100vh;
  background-color: #fff;
  width: 100%;
}

.sliderSection>div {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  /* padding-left: 150px; */
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

}

.sliderText {
  /* width: 17%; */
  min-width: 190px;
}

.sliderText>h1 {
  font-size: 40px;
  font-weight: 500;
  color: #1C232D;
}

.sliderText>p {
  font-size: 16px;
  font-weight: 400;
  color: #7A7A7A;
  margin-bottom: 39px;
}

.sliderIcons {
  display: inline-flex;
  width: 100%;
}

.prevIcon {
  width: 49px;
  height: 49px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  color: #0BC469;
  font-weight: bold;
  padding-right: 3px;
  margin: 0px 40px 0px 0px;
  border: 3px solid #0BC469;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
}

.nextIcon {
  width: 49px;
  height: 49px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  color: #0BC469;
  font-weight: bold;
  padding-left: 3px;
  margin: 0px;
  border: 3px solid #0BC469;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
}

.slider {
  width: 80%;
  padding: 0px;
  height: 400px;
  /* margin-left: 100px; */
  /* background-color: #0BC469; */
  display: inline-flex;
  align-items: center;
}

.swiper {
  display: inline-flex;
  align-items: center !important;

}

.SliderItem {
  /* max-height: 355px; */
  height: 355px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 4px 15px #00000010;
  /* background-color: red; */
  transition: 1s;
  margin-top: 25px;
  margin-bottom: 25px;
}

.SliderItem>img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  transition: 1s;
  border-radius: 4px;
}

.SliderItem:hover {
  width: 108% !important;
  /* max-height: 450px !important; */
  height: 400px !important;
  margin-top: 5px !important;
  margin-bottom: 5px;
  box-shadow: 0px 10px 20px #1d2b3fab;
}




.contact {
  /* min-height: 100vh; */

  position: relative;
}

.ContactBgImg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../public/contactsBG.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  filter: blur(6px);
}

.ContactBgBlur {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #0000002d;
}

.phone {
  padding-right: 10px;
}

.socialIcons:hover {
  color: #0BC469;
  padding-right: 12px;
}

.socialIcons {
  padding-right: 12px;
}

.footerButton {
  padding: 0;
  border: none;
  background: none;
  color: #fff;
  font-weight: 700;
}





@media screen and (max-width: 320px) {}

@media screen and (max-width: 640px) {
  .form {
    width: 30%;
  }
  .backDrop{
    background-color: rgba(0, 0, 0, 0);
  }
  .animation{
    background-image: none;
  }
  .animation>.animationImg {
    margin: 0px auto 50px;
    width: 295px;
    height: 377px;
    position: relative;
    border-radius: 4px;   
    box-shadow: 0px 5px 20px #A4A4A4;
  }
  
 
  
  .animation>.animationImg>div img {
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 0;
    object-fit: cover;
  }
  
  .animation>.animationImg>div>div {
    width: 96%;
    left: 2%;
    padding: 12px;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    bottom: 5px;
    background-color: #00000078;
  }
  
  .animation>.animationImg>div h3 {
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  
  .animation>.animationImg>div p {
    color: #DBDBDB;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
 
  
   


}

@media screen and (max-width: 768px) {
.about {
  background-image: none;
  padding: 5px 10px;
}

}

@media screen and (max-width: 850px) {
  .animation>.firstImg, .animation>.thirdImg {
    width: 293px;
    height: 40vh;
    left: 5%;
  }
  .animation>.secondImg,  .animation>.fourthImg {
    width: 293px;
    height: 40vh;
    right: 5%;
  }
  .animation>.mainImg{
    width: 60%;
    left:20%;
  }
}

@media screen and (max-width: 1024px) {}


@media screen and (max-width: 1200px) {}


@media screen and (max-width: 1328px) {
  .header>div:last-child {
    display: none;
  }
 
}